<ion-modal-view ng-controller="SettingsCtrl as SettingsCtrl" class="settings">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Settings</h1>
        <div class="buttons">
            <button class="button button-clear button-header-done" ng-click="SettingsCtrl.done()">Done</button>
        </div>
    </ion-header-bar>
      <ion-content>
        <ion-list>
            <ion-item class="item-avatar">
                <img gravatar-src="'{{SettingsCtrl.user.email}}'" />
                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <p>{{user.email}} / @{{user.username}}</p>
            </ion-item>
            <ion-item class="item-divider">
                Settings
            </ion-item>
            <ion-toggle ng-model="settings[SETTINGS.DARK_MODE]" toggle-class="toggle-positive">
                Dark Mode
            </ion-toggle>
            <ion-toggle ng-model="settings[SETTINGS.AUTO_DARK_MODE]" ng-show="!settings[SETTINGS.DARK_MODE]" toggle-class="toggle-positive">
                Auto Dark Mode (<small>19:00 - 07:00</small>)
            </ion-toggle>
        </ion-list>
        <button class="button button-full button-light button-logout" ng-click="SettingsCtrl.logout()">Logout</button>
      </ion-content>
</ion-modal-view>