<ion-tabs class="tabs-icon-top tabs-positive">


  <!-- Groups Tab -->
  <ion-tab title="Groups" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline" href="#/tabs/groups">
    <ion-nav-view name="tab-groups"></ion-nav-view>
  </ion-tab>

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" href="#/tabs/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-on="ion-ios7-cog" icon-off="ion-ios7-cog-outline" href="#/tabs/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
