//will most likely fixed later by ionic
.platform-android .bar-header {
    background-image: none;
    border-bottom-width: 0;
}

.keyboard-open .tabs {
  display:none !important; 
}

.keyboard-open .has-tabs {
    bottom:0 !important;
}