<ion-modal-view ng-controller="RegisterCtrl as ctrl" class="register">
    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button class="button button-clear" ng-click="ctrl.cancel()">Cancel</button>
        </div>
        <h1 class="title">{{ctrl.title}}</h1>
        <div class="buttons">
            <button class="button button-clear button-header-done" ng-click="ctrl.register()">Register</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <img src="img/logo.png" alt="WhatsSchool" class="logo" />
        <form class="list" ng-submit="ctrl.register()">
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="ctrl.credentials.firstName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="ctrl.credentials.lastName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="ctrl.credentials.email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="ctrl.credentials.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="ctrl.credentials.password">
            </label>
            <button class="button button-full button-balanced" type="submit">Register</button>
        </form>
    </ion-content>
</ion-modal-view>