<ion-view title="{{ ctrl.group.name }}">
  <ion-nav-buttons side="right">
    <button ng-show="Acl.isTeacher()" class="button button-clear button-header-done" ng-click="ctrl.edit()">Edit</button>
  </ion-nav-buttons>
  <ion-content>
  	<ion-list>
  		<ion-item>
  			<h2>{{ ctrl.group.name }}</h2>
  			<p>Owner: {{ctrl.group.owner }}</p>
  		</ion-item>
  		<ion-item class="item-icon-right" href="#/tabs/groups/{{ctrl.group.id}}/members">
  			<h3>{{ ctrl.members.length }} Members</h3>
  			<p>{{ ctrl.getMemberNames().join(', ') }}</p>
        <i class="icon dark-gray ion-ios7-arrow-forward"></i>
  		</ion-item>
  		<ion-item class="item-divider">
  			Anouncements
  		</ion-item>
  		<ion-item class="item-input-inset">
  			<label class="item-input-wrapper">
      			<input type="text" placeholder="Filter Announcements" ng-model="ctrl.announcementSearch">
    		</label>
  		</ion-item>
  		<ion-item class="item-icon-left item-icon-right" ng-repeat="announcement in ctrl.announcements | filter:ctrl.announcementSearch" href="#/tabs/groups/{{ctrl.group.id}}/announcement/{{announcement.id}}">
  			 <i class="icon {{ announcement.logo }}"></i>
  			 {{ announcement.name }}
         <i class="icon dark-gray ion-ios7-arrow-forward"></i>
         <ion-option-button class="button-assertive" ng-click="ctrl.deleteAnnouncement(announcement)" ng-show="Acl.isTeacher()">
            Delete
          </ion-option-button>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>