<ion-view title="Groups">
  <ion-nav-buttons side="right">
    <button ng-show="Acl.isTeacher()" class="button button-icon icon ion-ios7-plus-empty" ng-click="ctrl.openAddGroupModal()"></button>
  </ion-nav-buttons>
  <ion-content>
  	<ion-list>
  		<ion-item class="item-input-inset">
  			<label class="item-input-wrapper">
      			<input type="text" placeholder="Filter Groups" ng-model="ctrl.groupSearch">
    		</label>
  		</ion-item>
  		<ion-item class="item-icon-right" ng-repeat="group in ctrl.groups | filter: ctrl.groupSearch" href="#/tabs/groups/{{group.id}}">
  			<h2>{{ group.name }}</h2>
  			<p>{{group.owner}}</p>
        <i class="icon dark-gray ion-ios7-arrow-forward"></i>
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>