<ion-view title="{{ctrl.group.name}}: Members">
  <ion-nav-buttons side="right">
    <button ng-show="Acl.isTeacher()" class="button button-icon icon ion-ios7-plus-empty" ng-click="ctrl.addMembers()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Filter Announcements" ng-model="ctrl.memberSearch">
        </label>
      </ion-item>
      <ion-item ng-repeat="member in ctrl.members | filter: ctrl.memberSearch" class="item-avatar item-icon-right">
          <img gravatar-src="'{{member.firstName}}'" />
          {{member.firstName}} <strong>{{member.lastName}}</strong>
          <p>{{member.email}} / @{{member.username}}</p>
          <i ng-show="ctrl.isLoggedIn(member)" class="icon dark-gray ion-ios7-person"></i>
          <ion-option-button class="button-assertive" ng-click="ctrl.delete(member)" ng-show="Acl.isTeacher() && ctrl.canDelete(member)">
            Remove
          </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>