.announcement {
    background: $background-gray;
    .info {
        background: #fff;
        border-bottom: 1px solid $dark-gray;
    }
    .chat {
        .list {
            .item {
                background: none;
                border: 0;
                .chat-message {
                    min-height: 40px;
                    background: #fff;
                    font-size: 14px;
                    white-space: normal;
                    padding: 5px;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: -10px;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid #fff;
                    }
                    .user {
                        font-weight: 700;
                        color: $royal;
                        font-size: 12px;
                    }
                }
                &.current-user {
                    padding-right: 72px;
                    padding-left: 16px;
                    img:first-child {
                        left: auto;
                        right: 16px;
                    }
                    .chat-message {
                        &:before {
                            left: auto;
                            right: -10px;
                            border-right: none;
                            border-left: 10px solid #fff;
                        }
                        .user {
                            color: $balanced;
                        }
                    }
                }
            }
        }
        
    }
    .bar-footer {
        form {
            width: 100%;
        }
    }
}

.announcement-add {
    .header-icon {
        color: $positive;
        color: #387ef5;
        text-align: center;
        margin: 15px auto;
        display: block;
        font-size: 90px;
        width: 130px;
        height: 130px;
        border: 2px solid $positive;
        border-radius: 50%;
        line-height: 130px;
    }
}