.group-add {
    .header-icon {
        color: $positive;
        color: #387ef5;
        text-align: center;
        margin: 15px auto;
        display: block;
        font-size: 100px;
        width: 130px;
        height: 130px;
        border: 2px solid $positive;
        border-radius: 50%;
        line-height: 130px;
    }
}