<ion-view title="{{ ctrl.group.name }}" class="announcement">
 <ion-nav-buttons side="right">
    <button ng-show="Acl.isTeacher()" class="button button-clear button-header-done" ng-click="ctrl.edit()">Edit</button>
  </ion-nav-buttons>y
  <ion-content>
    
  	<div class="padding info">
        <h3 class="title"><i class="ion {{ ctrl.announcement.logo }}"></i> {{ ctrl.announcement.name }}</h3>
        {{ ctrl.announcement.description }}
    </div>
    <ion-list class="chat">
        <ion-item ng-repeat="comment in ctrl.comments" class="item-avatar" ng-class="{'current-user': ctrl.isCurrentUserComment(comment)}">
            <img gravatar-src="'{{comment.user.email}}'" />
            <div class="chat-message">
              <span class="user">{{comment.user.firstName}} {{comment.user.lastName}}</span>
              <div class="message">
                {{comment.text}}
              </div>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" keyboard-attach class="bar-light">
    <form ng-submit="ctrl.sendNewComment()" class="item-input-inset">
      <label class="item-input-wrapper">
          <input ng-model="ctrl.newComment" type="text" placeholder="Your Comment">
      </label> 
      <button class="button button-clear button-positive" type="submit">
        <strong>Send</strong>
      </button>
    </form>
  </ion-footer-bar>
</ion-view>